body {
	overflow-y:scroll;
}

/* Upload file dialog */
button.btn:focus {
    outline : none;
}

.fileinput-button
{
    position: relative;
    overflow: hidden;
}

.fileinput-button input
{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4);
    font-size: 23px;
    direction: ltr;
    cursor: pointer;
}

/* Folders selection dropdown, bootstrap style */
.dropdown-menu > li.cct{
    padding: 0 10px;
}
.dropdown-menu > li > a.cct {
    padding: 0 10px;
    font-size: small;
}
.dropdown-menu > li > a.boldit {
	font-weight: bold;
}

/* Modal dialog */
.modal-box {
	position: absolute;
	z-index: 1001;
	padding: 20px;
	background: white;
	border-radius: 5px;
	box-shadow: 0 0 10px;
}

.modal-box .control-row {
	overflow: hidden;
	position: relative;
}

.modal-box .control-label {
	position: absolute;
	left: 0;
	top: 0;
}

.modal-box input[type='text'], .modal-box div.select2-container {
	margin-left: 75px;
}

.smoke-layer {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(10, 10, 10, 0.4);
	z-index: 1000;
}

.modal-content {
	left: 50%;
	/*margin-top: -120px;*/
	margin-left: -250px;
	position: absolute;
	display: block;
}



.dumbBoxWrap { /* The div that shows/hides. */
	display:none; /* starts out hidden */
	z-index:5000; /* High z-index to ensure it appears above all content */
}
.dumbBoxOverlay { /* Shades out background when selector is active */
	position:fixed;
	width:100%;
	height:100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index:5000;
	background: rgba(0,0,0,0.5);
	font-family: Arial, Helvetica, sans-serif;
	-webkit-transition: opacity 200ms ease-in;
	-moz-transition: opacity 200ms ease-in;
	transition: opacity 200ms ease-in;
	/* IE crap */
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE transparency */
	filter:alpha(opacity=50); /* More IE transparency */
}

.vertical-offset { /* Fixed position to provide the vertical offset */
	position:fixed;
	top:30%;
	width:100%;
	z-index:5000; /* ensures box appears above overlay */
}

.dumbBox { /* The actual box, centered in the fixed-position div */
	width:405px; /* Whatever width you want the box to be */
	position:relative;
	margin:0 auto;  /* margin: 10% auto; */
	/* Everything below is just visual styling */
	background-color:white;
	/*border:1px solid black; */
	padding: 20px 20px 13px 20px;
	border-radius: 10px;
	/*background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);*/
}

.dumbBox .control-row {
	overflow: hidden;
	position: relative;
}

.dumbBox .control-label {
	position: absolute;
	left: 0;
	top: 0;
}

.dumbBox div.select2-container {
	margin-left: 75px;
	width: 315px;
}

.dumbBox input.span4{
	margin-left: 75px;
	width: 300px;
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }


/* Fancy tooltip (looking like callout) */
a.nicetooltip {outline:none; }
a.nicetooltip strong {line-height:30px;}
a.nicetooltip:hover {text-decoration:none;}
a.nicetooltip span {
	z-index:10;display:none; padding:14px 20px;
	margin-top:-30px; margin-left:28px;
	width:300px; line-height:16px;
}
a.nicetooltip:hover span{
	display:inline; position:absolute; color:#111;
	border:1px solid #DCA; background:#fffAF0;}
.callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}

/*CSS3 extras*/
a.nicetooltip span
{
	border-radius:4px;
	box-shadow: 5px 5px 8px #CCC;
}

/* Small toolbar below Folders selection dropdown */
.smalltoolbar{
	cursor: pointer;
	border-radius: 2px;
	box-shadow: 0 0 2px;
	padding-left: 2px;
	padding-right: 2px;
}
.smalltoolbar.checked{
	border-radius: 2px;
	box-shadow: 0 0 2px;
	background: #d9d9d9;
	/*border-top: solid 1px #777;
	border-left: solid 1px #777;
	border-bottom:solid 1px  #eaeaea;
	border-right: solid 1px #eaeaea;*/
}

.smalltoolbar input[type="checkbox"]{
	margin-top: 0;
}

#leftPanel hr {
	margin: 5px 0 10px 0;
}