body {
	overflow-y:scroll;
}

/* Upload file dialog */
button.btn:focus {
    outline : none;
}

.fileinput-button
{
    position: relative;
    overflow: hidden;
}

.fileinput-button input
{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4);
    font-size: 23px;
    direction: ltr;
    cursor: pointer;
}

/* Folders selection dropdown, bootrstrap style */
.dropdown-menu > li.cct{
    padding: 0 10px;
}
.dropdown-menu > li > a.cct {
    padding: 0 10px;
    font-size: small;
}
.dropdown-menu > li > a.boldit {
	font-weight: bold;
}

/* Modal dialog */
.modal-box {
	position: absolute;
	z-index: 1001;
	padding: 20px;
	background: white;
	border-radius: 5px;
	box-shadow: 0 0 10px;
}

.modal-box .control-row {
	overflow: hidden;
	position: relative;
}

.modal-box .control-label {
	position: absolute;
	left: 0;
	top: 0;
}

.modal-box input[type='text'], .modal-box div.select2-container {
	margin-left: 75px;
}

.smoke-layer {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(10, 10, 10, 0.4);
	z-index: 1000;
}

.modal-content {
	left: 50%;
	/*margin-top: -120px;*/
	margin-left: -250px;
	position: absolute;
	display: block;
}

/* Fancy tooltip (looking like callout) */
a.nicetooltip {outline:none; }
a.nicetooltip strong {line-height:30px;}
a.nicetooltip:hover {text-decoration:none;}
a.nicetooltip span {
	z-index:10;display:none; padding:14px 20px;
	margin-top:-30px; margin-left:28px;
	width:300px; line-height:16px;
}
a.nicetooltip:hover span{
	display:inline; position:absolute; color:#111;
	border:1px solid #DCA; background:#fffAF0;}
.callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}

/*CSS3 extras*/
a.nicetooltip span
{
	border-radius:4px;
	box-shadow: 5px 5px 8px #CCC;
}

/* Small toolbar below Folders selection dropdown */
.smalltoolbar{
	cursor: pointer;
	border-radius: 2px;
	box-shadow: 0 0 2px;
	padding-left: 2px;
	padding-right: 2px;
}
.smalltoolbar.checked{
	border-radius: 2px;
	box-shadow: 0 0 2px;
	background: #d9d9d9;
	/*border-top: solid 1px #777;
	border-left: solid 1px #777;
	border-bottom:solid 1px  #eaeaea;
	border-right: solid 1px #eaeaea;*/
}

.smalltoolbar input[type="checkbox"]{
	margin-top: 0;
}

#leftPanel hr {
	margin: 5px 0 10px 0;
}