body {
	overflow-y:scroll;
}

button.btn:focus {
    outline : none;
}

.fileinput-button
{
    position: relative;
    overflow: hidden;
}

.fileinput-button input
{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4);
    font-size: 23px;
    direction: ltr;
    cursor: pointer;
}
.dropdown-menu > li.cct{
    padding: 0 10px;
}
.dropdown-menu > li > a.cct {
    padding: 0 10px;
    font-size: small;
}
.dropdown-menu > li > a.boldit {
	font-weight: bold;
}

.modal-box {
	position: absolute;
	z-index: 1001;
}

.smoke-layer {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(10, 10, 10, 0.4);
	z-index: 1000;
}

.modal-content {
	left: 50%;
	margin-top: -120px;
	margin-left: -250px;
	position: absolute;
	/*display: block;*/
}